# Python build artifacts
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/

# Virtual Environments
.env
.venv
env/
venv/
ENV/

# Data Caches
data/model_cache/

# IDE / Editor
.vscode/
.idea/

# OS-specific
.DS_Store
Thumbs.db
